<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.owner.courseplanner">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/MyAppTheme">
        <activity
                android:name=".SelectCompletedCourses"
                android:label="@string/title_activity_select_completed_courses">
        </activity>
        <activity
                android:name=".ChooseCourses"
                android:label="@string/title_activity_choose_courses">
        </activity>
        <activity
                android:name=".MyCourses"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name=".CourseArchive"
                android:label="@string/title_activity_course_archive">
        </activity>
        <activity
                android:name=".AppLauncher"
                android:label="@string/title_activity_app_launcher"
                android:noHistory="true"
                android:theme="@style/activityTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
